<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcj.map.CategoryMapper">
    <insert id="save" parameterType="com.zcj.domain.Category" >
        INSERT INTO category (id,food_name,is_meat,select_count) VALUES (#{id},#{foodName},#{isMeat},#{selectCount})
    </insert>

    <select id="load" parameterType="String" resultType="com.zcj.domain.Category" resultMap="categoryResultMap">
        SELECT * FROM  category WHERE id = #{id}
    </select>
    <select id="loadAll" resultType="com.zcj.domain.Category" parameterType="java.lang.Integer" resultMap="categoryResultMap">
        SELECT * FROM category ORDER BY select_Count DESC LIMIT #{pageSize}
    </select>
    <select id="loadByIdList" resultType="com.zcj.domain.Category" resultMap="categoryResultMap">
        SELECT * from category WHERE id IN
        <foreach collection="list" item="id" open="(" close=")"
                 separator=",">
            #{id}
        </foreach>
    </select>
    <delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM category WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <update id="update" parameterType="com.zcj.domain.Category">
        UPDATE category SET food_name = #{foodName},is_meat = #{isMeat},select_count = #{selectCount} WHERE id = #{id}
    </update>
    <update id="batchUpdate" parameterType="com.zcj.domain.Category">
        <foreach collection="list" item="item" index="index" open="update" close=" " separator=";">
            UPDATE category
            <set>
            select_count = ${item.selectCount}
          </set>
            WHERE id = '${item.id}'
        </foreach>
    </update>
    <resultMap id="categoryResultMap" type="com.zcj.domain.Category">
        <id property="id" column="id" />
        <result property="foodName" column="food_name"/>
        <result property="isMeat" column="is_meat"/>
        <result property="selectCount" column="select_count"/>
    </resultMap>
</mapper>