<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.zcj.map.CategoryMapper">
    <resultMap id="CategoryMapper" type="Category">
        <id property="id" column="id"/>
        <result property="foodName" column="food_name"/>
        <result property="isMeat" column="is_meat"/>
        <result property="selectCount" column="select_count"/>
    </resultMap>
    <insert id="save" parameterType="com.zcj.domain.Category">
        INSERT INTO category (id,food_name,is_meat,select_count) VALUES (${id},${foodName},${isMeat},${selectCount})
    </insert>

    <select id="load" parameterType="String" resultType="com.zcj.domain.Category">
        SELECT * FROM  category WHERE id = ${id}
    </select>

</mapper>